.nav div {
    font-size: larger;
    list-style-type: none;
    display: flex;
    gap: 1rem;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
}

.breadcrumbs ul {
    list-style-type: none;
    display: flex;
    gap: 1rem;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
}

.breadcrumbs a{
    text-decoration: none;
    color:black;

}


.logo-web{
    text-align: center;
}

.logo{
    width: 150px;
}

.nav a{
    text-decoration: none;
    color:black;
    font-weight: 600;
}

a:hover{
    text-decoration:underline;
}


nav{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}


ul{
    padding:0 ;
    list-style-type: none;
    display: flex;
    gap: 1rem;
    margin-left: 40px;
}


img{
    width:100%;
}
.para{
   width:50%; 
}
.p1{
 color: gray;
}
.p3{
    color: green;
}
.p2{
    font: size 19px;
    font-weight: 600;}

.lin{
    text-decoration:underline; 
}

.azer {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.Produit{
    border: solid 2px black;
    width: 350px;
    padding: 10px;
    margin: 5px;
    box-sizing: border-box;
    display: inline-block;
}

@media screen and (max-width: 640px) {
    .logo {
        vertical-align: middle;
        
    }
    .nav {
        text-align: center;
        display: inline-flex;
        flex-wrap: wrap;
    }

    nav{
        display: flex;
        align-items: center;
        justify-content: center;   
        flex-direction: column;    
    }

    .nav a {
        font-weight: 300;
        font-size: 13px;
    }

    .para {
        width: 90%;
    }
    
    }